html {
  font-family: "Jacquard 24", system-ui;
  font-size: 16px;
  font-smooth: never;
  -webkit-font-smoothing: none;
  image-rendering: pixelated;
}

body {
  background-color: #73efe8;
}


/* ------------------------------- canvas ------------------------------- */
.canvas-wrapper {
  position: absolute;
  bottom: 4vw;
  display: flex;
  justify-content: center;
  width: 100%;
}

canvas {
  width: 15%;
}

.background {
  position: fixed;
  bottom: 0;
  z-index: -1;
  width: 100%;
}

.lives {
  position: absolute;
  bottom: 4.25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.lives .healthbar.player {
  transform: scale(-1, 1);
  margin-right: -1.675vw;
}

.lives .healthbar {
  height: 1.75vw;
}

.lives .heart {
  position: absolute;
  width: 2.25vw
}

@media only screen and (max-width: 1024px) {
  .canvas-wrapper {
    position: absolute;
    bottom: 8vw;
  }

  canvas {
    width: 30%;
  }

  .background {
    left: -50%;
    min-width: 200%;
  }

  .lives {
    bottom: 9vw;
  }

  .lives .healthbar.player {
    margin-right: -2.25vw;
  }
  
  .lives .healthbar {
    height: 3vw;
  }
  
  .lives .heart {
    width: 4.25vw
  }
}


